@{
    ViewBag.Title = "Edit task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model spp_1.Models.Task
    <body>
        <style>
            body {
                background: #7aeef9;
            }
        </style>
        <h2>Task № @Model.Id</h2>
        <form class="decor" method="post" action="/Home/EditTask">
            <div class="form-left-decoration"></div>
            <div class="form-right-decoration"></div>
            <div class="circle"></div>
            <div class="form-inner">
                <input type="hidden" value="@Model.Id" name="Id" />
                <p>Enter task name</p>
                <input type="text" value="@Model.Name" name="Name" />
                <p>Select task status</p>
                <select name="Status" value="@Model.Status">
                    <option>Plans to start</option>
                    <option>In progress</option>
                    <option>Complited</option>
                </select>
                <p>Select date</p>
                <p><input type="datetime-local" name="Date" value="@Model.Date"></p>
                <p><input type="submit"></p>
            </div>
        </form>
    </body>


